<% include ./partials/_header %>

<h2>URL Details</h2>

<table>
  <tr>
    <th>Short URL</th>
    <th>Destination</th>
  </tr>
  <tr>
    <td><input type="text" readonly class="shortURL" value="<%= shortURL %>"></td>
    <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
      <td><input type="text" class="longURL" name="newURL" value="<%= url %>"></td>
      <td><input type="submit" value="Update"></td>
    </form>
  </tr>
</table>
<br>
<h2>Traffic</h2>
<%= visits.length %> visits from <%= uniqueVisitors %> visitor(s) <span class="visitorsSince">since <%= created %></span>
<table>

  <% visits.forEach( visit => { %>
    <tr>
      <td><%= visit.date %></td>
      <td><%= visit.id %></td>
    </tr>
  <% }); %>

</table>

<% include ./partials/_footer %>